nav{
    display: flex;
    justify-content: center;
    margin: 1rem;
}
nav > input {

    margin: 1rem;
    background-color:#0d6efd;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    color: #fff;
    font-weight: 900;
    font-size: 1rem;
    border: 3px solid rgb(0, 39, 62);
}
input:hover{
    background-color: #0a4aa9;
}
.container {
    display: flex;
    flex-flow: wrap;
}

.card{
    margin: 1rem;
}